.travel-plans-section h2{
  color: var(--heading-color);
  font-size: 2.5rem;
}

.travel-plans-section {
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.plans-container {
  overflow: hidden; 
  height: 300px; 
  background-color: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  position: relative;
}

.plan-item {
  transition: opacity 0.5s ease-in-out; 
  position: absolute;
  top: 0; 
  left: 0; 
  width: 100%;
  opacity: 0; 
  pointer-events: none; 
}

.plan-item.active {
  opacity: 1; 
  pointer-events: auto; 
}

.plan-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px; 
  margin: 10px 0;
  border-radius: 8px; 
  
}

.plan-icon {
  font-size: 3.5rem; 
  margin-bottom: 10px; 
  color: rgb(247, 102, 50);
  
}

.plan-title{
  color: rgb(228, 106, 6);
  font-size: 2rem;
  font-weight: 500  ;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  .plans-container {
    height: 250px;
  }
}

@media (max-width: 480px) {
  .plans-container {
    height: 200px; 
  }
}
