.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(11, 39, 39, 0.8); /* Dark overlay for a modern look */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background-color: wheat !important; 
    border-radius: 1rem !important; /* Increased border radius for a softer look */
    padding: 30px;
    width: 100%;
    max-width: 400px; /* Limit width for larger screens */
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease; /* Add a fade-in animation */
}

.modal-content h3 {
    /* font-family: var(--subtitle-font-name); */
    color: var(--heading-color);
    margin-bottom: 15px;
}

.modal-content p {
    color: var(--text-color);
    color: var(--heading-color);
    margin-bottom: 20px;
}

.modal-buttons {
    display: flex;
    justify-content: space-between; /* Space buttons evenly */
}

.btn {
    border: none;
    padding: 12px 20px;
    border-radius: 8px; /* Rounded corners for buttons */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s; /* Smooth transition for hover effects */
    flex: 1; /* Make buttons grow equally */
    margin: 0 5px; /* Add space between buttons */
}

.confirm-btn {
    background-color: var(--primary-color) !important; 
    color: white;
}

.cancel-btn {
    background-color: var(--secondary-color) !important;
    color: white;
}

.confirm-btn:hover,
.cancel-btn:hover {
    opacity: 0.8; 
    transform: translateY(-2px); /* Lift effect on hover */
}

.btn:focus {
    outline: none;
    box-shadow: 0 0 5px var(--primary-color); 
}

/* Animation for modal appearance */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
